##Ignore backup files files
*.R~
*.R\#
.Rhistory
.Rproj.user
CMIP5_NP_Limitation.Rproj

##Ignore local files
data/*
fig/*
output/*
20141206data/*

.RData
##Kathe’s personal visualizations
QuickVisuals.Rmd

